# Gradle
.gradle

# VSCode
.settings/
.vscode/

# Build artifacts
bin/
build/
classes/

# Generated sources
# The trailing * is important, otherwise Git wouldn't evaluate the directories at all and we wouldn't be able to un-ignore some of them.
**/src/generated/*

# Debug artifacts
run
*.log
*.log.gz
.mixin.out/
